<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, saepe.
    </p>
  </header>
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae,
        officiis.
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, saepe.
      </p>
    </header>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, saepe.
      </p>
    </header>
  </div>
</section>

<section class="block container block-domain">
  <header class="block__header">
    <h2 class="block__heading">Starting at £9 per month</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto,
      consequatur?
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>.com £9</li>
    <li>.sg £10</li>
    <li>.xyz £7</li>
    <li><span class="badge badge--secondary">.co.uk £1</span></li>
    <li>.wiki £90</li>
    <li>.ru £0.001</li>
  </ul>
</section>
